<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav"
               #drawer
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a href="/items"
         mat-list-item>Items Example</a>
      <a href="/demo-angular-material/address"
         mat-list-item>Address Component</a>
      <a href="/demo-angular-material/dashboard"
         mat-list-item>Dashboard Component</a>
      <a href="/demo-angular-material/drag-drop"
         mat-list-item>Drag Drop Component</a>
      <a href="/demo-angular-material/table"
         mat-list-item>Table Component</a>
      <a href="/demo-angular-material/tree"
         mat-list-item>Tree Component</a>
      <a href="/authorization"
         mat-list-item>Authorization Example</a>
      <a href="/heroes"
         mat-list-item>Heroes Example</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>web-application</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
