app-footer {
  background: #a7a7a7;
  background: linear-gradient(
    0deg,
    #a7a7a7 0%,
    rgba(202, 202, 202, 0.74) 50%,
    rgba(171, 171, 171, 0) 100%
  );

  .footer {
    font-size: 14px;
    position: fixed;
    bottom: 8px;
  }
}
