// app specific variables

// Font
$font-size: 16px;
$font-weight: 400;

// Colors
$color-primary: #258102;

// Body
$body-color-bg: #eee;
$body-color-text: #444;

// Toolbar
$toolbar-height: 56px;

// Sidebar
$sidebar-width: 64px;

// Footer
$footer-height: 49px;

// Colors

$padding: 15px;
$margin: 15px;

// Body
$body-color-bg: #f1f1f1;
$body-color-text: #444;

// Toolbar
$toolbar-height: 60px;
