<div
  *ngIf="type == 'directive' && show"
  class="swiper-container"
  [disabled]="disabled"
  [swiper]="config"
  (indexChange)="onIndexChange($event)"
  (swiperTransitionStart)="onSwiperEvent('transitionStart')"
  (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
>
  <div class="swiper-wrapper">
    <div *ngFor="let slide of slides" class="swiper-slide">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        {{ slide }}
      </div>
    </div>
  </div>

  <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
  <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

  <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
  <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
</div>

<router-outlet></router-outlet>
